node-linker=hoisted
public-hoist-pattern[]=*hardhat*
public-hoist-pattern[]=*ethers*

# Only download native binaries for the current Windows x64 platform
supportedArchitectures.os[]=win32
supportedArchitectures.cpu[]=x64
supportedArchitectures.libc[]=unknown
